

.neo{
    width:25%;
    margin: auto;
    border: 1px solid lightblue;
    padding: 20px;
    border-radius: 19px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #b1b1b1,
                 -10px -10px 20px #ffffff;
}
.form-container input{
   width: 100%;
   margin: auto;
    display: block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.back-image{
   height: 100vh;
   background-size: cover;
    
}

 @media only screen and (max-width: 900px) {
 
    .neo{
        width:100%;
        margin: auto;
    }
 }

 .error-message{
     color:red;
 }
