.banner-img img{
    height: 80vh;
}

.title-size h1{
    font-size: 50px;
    color: rgb(255, 0, 0);
    font-weight: 700;
}
.title-size p{
    font-size: 30px;
    color: rgba(26, 0, 175, 0.993);
    font-weight: 500;
}

@media only screen and (max-width: 900px) {
     .banner-img img{
        height: 40vh;
    }

    .title-size h1{
        font-size: 20px;
        color: yellow;
        font-weight: 500;
    }
    .title-size p{
        font-size: 16px;
        color: yellow;
        font-weight: 400;
    }

 }


